pre>code {
    font-family: "Fira Code", monospace;
}

.eggplant-header {
    background-color: #640080;
    color: white;
    border-top-right-radius: 2em;
}

.crimson-header {
    background-color: #6A0009;
    color: white;
    border-top-right-radius: 2em;
}

.gold-header {
    background-color: #7d6343;
    color: white;
    border-top-right-radius: 2em;
}

.ocean-header {
    background-color: #224382;
    color: white;
    border-top-right-radius: 2em;
}

.dark-panel {
    background-color: #222;
    color: white;
}

.transparent {
    background-color: transparent;
}

.eggplant-outline {
    border-color: #640080;
    border-radius: 4px;
    border-style: solid;
}

.crimson-outline {
    border-color: #6A0009;
    border-radius: 4px;
    border-style: solid;
}

.gold-outline {
    border-color: #7d6343;
    border-radius: 4px;
    border-style: solid;
}

.ocean-outline {
    border-color: #224382;
    border-radius: 4px;
    border-style: solid;
}

.header-padding
{
    padding-left: 0.6em;
    padding-right: 0px;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.container
{
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar
{
    background-color: #640080;
}

.panel-block {
    padding: 0.8em 0.8em;
}

@font-face
{
    font-family: "cyberfunk";
    src: url("https://obengine.io/Cyberfunk.ttf");
}

.brand-title
{
    font-family: "cyberfunk";
}